rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/{objectives=**} {
      allow create, read, update, delete:
      	if request.auth != null
        	&& request.auth.uid == userId
          && exists(/databases/$(database)/documents/users/$(request.auth.uid));
    }
  }
}
