#signin {
  display: none;
  font: 20px sans-serif;
  margin: 30px auto;
  text-align: center;
  width: 75%;
}

#app {
  display: none;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  max-width: 60em;
}

.objective {
  font-family: "Mulish", sans-serif;
}

.objective-name {
  font-size: 22px;
	margin-bottom: 10px;
}

.objective-description {
  color: darkgrey;
  font-size: 15px;
}

.objective-description p:first-child {
	margin-top: 0;
}

.goal {
	padding-left: 20px;
}

.chart {
  width: 100%;
  height: 100px;
}

.name, .start, .end, .baseline, .target {
  font-family: "Mulish", sans-serif;
}

.start, .end, .baseline, .target {
  fill: darkgrey;
}

.today {
  fill: orange;
}

.current {
  fill-opacity: 0.75;
}

.ontrack {
  fill: #88bb77;
}

.offtrack {
  fill: #bb6677;
}
