#signin {
  display: none;
  font: 20px sans-serif;
  margin: 30px auto;
  text-align: center;
  width: 75%;
}

#app {
  display: none;
  margin: 0 auto;
  padding: 50px;
  max-width: 60em;
}

.chart {
  width: 100%;
}

.name, .start, .end, .baseline, .target {
  font-family: "Mulish", sans-serif;
}

.start, .end, .baseline, .target {
  fill: darkgrey;
}

.today {
  fill: orange;
}

.current {
  fill-opacity: 0.75;
}

.ontrack {
  fill: #88bb77;
}

.offtrack {
  fill: #bb6677;
}
